@import "tailwindcss";

@theme {
  --color-brand-primary: #e66a38;
  --color-brand-secondary: #fcae77;
  --color-brand-light: #fce7e6;
  --color-brand-accent: #83d8d7;
}

:root {
  --background: #fce7e6;
  --foreground: #2d1a16;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #201311;
    --foreground: #fce7e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
